<mat-card>

    <mat-toolbar color="primary">

        <button mat-mini-fab color="accent" (click)="downloadReport()">
        <mat-icon>cloud_download</mat-icon>
        </button> &nbsp;
        <button mat-mini-fab color="accent" (click)="openReport()">
        <mat-icon>open_in_new</mat-icon>
      </button> &nbsp;&nbsp;
        <span>Tarifas Actuales</span>
        <span class="fill-remaining-space"></span>

        <mat-form-field class="filter-form-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nueva</button>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- courseImage Column -->
        <ng-container matColumnDef="rateImage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let rate">
                <img (click)="gotoRate(rate)" [src]="rate.image" class="img-thumbnail" alt="rate.name">
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let rate"> {{rate.name.toUpperCase()}} </td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let rate"> {{rate.type}} </td>
        </ng-container>

        <!-- prize Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let rate"> {{rate.price}}€ </td>
        </ng-container>

        <!-- Students (NumStudents) Column -->
        <ng-container matColumnDef="students">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estudiantes</th>
            <td mat-cell *matCellDef="let rate"> {{rate.students?.length}} estudiantes</td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let rate">
                <button mat-mini-fab color="warn" (click)="gotoRate(rate)"><mat-icon>pageview</mat-icon></button> &nbsp;
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>

    </table>

    <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</mat-card>