<div *ngIf="this.users.length > 0; else noData">
    <mat-toolbar color="primary">
        <span>Estudiantes con esta tarifa</span>
        <span class="fill-remaining-space"></span>

        <mat-form-field class="filter-form-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- imageStudent -->
        <ng-container matColumnDef="photoURL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <img (click)="viewUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
            </td>
        </ng-container>

        <!-- displayName Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.displayName.toUpperCase()}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let element">
                &nbsp;
                <button mat-mini-fab color="warn" (click)="viewUser(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                <button mat-mini-fab color="warn" (click)="editUser(element)"><mat-icon>edit</mat-icon></button> &nbsp;
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </table>
</div>

<ng-template #noData>
    <br>
    <div class="alert alert-danger text-center" role="alert">
        Aún no hay estudiantes asociados a esta tarifa
    </div>
</ng-template>
