<mat-toolbar color="primary" *ngIf="lesson">
    <span>Asistencia a la clase del {{ lesson.date | date:'shortDate' }}</span>
    <span class="fill-remaining-space"></span>

    <mat-form-field class="filter-form-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Estado a Aplicar</mat-label>
        <mat-select [(value)]="statusToApply">
            <mat-option *ngFor="let status of statusAttendance" [value]="status">{{ status }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="applyStatus()">Aplicar</button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="warn" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox color="warn" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- studentName Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <!-- studentName Column -->
    <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
          'is-eliminada': element.status === 'eliminada',
          'is-anulada': element.status === 'anulada',
          'is-programada': element.status === 'programada',
          'is-ausentada': element.status === 'ausentada',
          'is-confirmada': element.status === 'confirmada'
        }"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
        <td mat-cell *matCellDef="let element">
            &nbsp;
            <button mat-mini-fab color="warn" (click)="addComment(element)"><mat-icon>edit</mat-icon></button> &nbsp;
            <button *ngIf="element.comment!=''" (click)="viewComment(element)" mat-mini-fab color="warn"><mat-icon>pageview</mat-icon></button> &nbsp;
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="selection.toggle(row)">
    </tr>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</table>