table {
    width: 100%;
}

.mat-form-field {
    width: 200px;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 14px;
}

.mat-column-actions {
    width: 180px;
}

.mat-column-name {
    padding-left: 30px;
}

.mat-column-image {
    border: 3px solid white;
    width: 80px;
    .img-thumbnail {
        width: 48px;
    }
}