<mat-toolbar color="primary">
    <span>Cursos Actuales</span>
    <span class="fill-remaining-space"></span>

    <mat-form-field class="filter-form-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- WeekDay Column -->
    <ng-container matColumnDef="weekDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Día </th>
        <td mat-cell *matCellDef="let element"> {{element.weekDay}} </td>
    </ng-container>

    <!-- starTime Column -->
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Comienzo </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <!-- endTime Column -->
    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let element">
            &nbsp;
            <button mat-mini-fab color="warn" (click)="viewCourse(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
            <button mat-mini-fab color="warn" (click)="editCourse(element)"><mat-icon>edit</mat-icon></button> &nbsp;
            <button mat-mini-fab color="warn" (click)="deleteCourse(element)"><mat-icon>delete</mat-icon></button> &nbsp;
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
    </tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>