<div class="div-container">

    <h3>Crea un nuevo alumno:</h3>

    <div style="text-align: center;">
        <img [src]="selectedAvatar.path" style="width:40%" />
    </div>

    <form [formGroup]="studentForm" class="form-container" (ngSubmit)="onSaveForm()">

        <mat-form-field>
            <input matInput type="text" formControlName="displayName" placeholder="Nombre Completo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Avatar</mat-label>
            <mat-select formControlName="photoURL" [(value)]="selectedAvatar.path">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let avatar of avatares" [value]="avatar.path">
                    {{avatar.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="email" placeholder="Correo Electrónico">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="phone" placeholder="Teléfono">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="contact" placeholder="Persona de Contacto">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="fare" placeholder="Tarifa">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">Crear</button>
        <button mat-raised-button color="primary" routerLink="/estudiantes">Ver listado</button>

    </form>
</div>