<div class="div-container">

    <h3>Crea un nuevo alumno:</h3>

    <form [formGroup]="studentForm" class="form-container" (ngSubmit)="onSaveForm()">

        <mat-form-field>
            <input matInput type="text" formControlName="name" placeholder="Nombre">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="surname" placeholder="Apellidos">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">Crear</button>
        <button mat-raised-button color="primary" routerLink="/estudiantes">Ver listado</button>

    </form>
</div>
