.dashboard-rol-item {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}

.task-item {
    padding-left: 10px;
}

.task-button {
    margin-right: 15px;
}

.task-list-item {
    padding-left: 10px;
    font-size: larger;
}