<mat-card *ngIf="userDetails">

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoMyProfile()">Ver Perfil</button>
    </mat-toolbar>

    <app-sh-user-data [userDetails]="userDetails"></app-sh-user-data>

    <div *ngIf="userDetails.isAdmin" class="card dashboard-rol-item">
        <div class="alert alert-primary" role="alert">
            Como administrador puedes...
        </div>

        <mat-nav-list>

            <!-- 1A. Ver todas las personas -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoUsersList()">
              <mat-icon>info</mat-icon>
              <span class="task-item">Ver todas las personas</span>
            </button>
            </mat-list-item>

            <!-- 1B. Ver todos los cursos -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoCoursesList()">
            <mat-icon>info</mat-icon>
            <span class="task-item">Ver todos los cursos</span>
          </button>
            </mat-list-item>

            <!-- 1C. Ver todas las tarifas -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoRates()">
            <mat-icon>info</mat-icon>
            <span class="task-item">Ver todas las tarifas</span>
          </button>
            </mat-list-item>

            <!-- 1D. Ver todas las clases de profesores mensuales -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoAllLessons()">
              <mat-icon>info</mat-icon>
              <span class="task-item">Ver clases mensuales de todos los profesores</span>
            </button>
            </mat-list-item>

            <!-- 1E. Ver todas las asistencias mensuales -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoAllAttendances()">
                <mat-icon>info</mat-icon>
                <span class="task-item">Ver asistencias mensuales de todos los estudiantes</span>
              </button>
            </mat-list-item>

            <!-- 1F. Ver el informe de todas las asistencias mensuales -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoAllAttendancesReport()">
              <mat-icon>info</mat-icon>
              <span class="task-item">Ver el informe de asistencias mensuales de todos los estudiantes</span>
            </button>
            </mat-list-item>

        </mat-nav-list>

    </div>

    <div *ngIf="userDetails.isTeacher" class="card dashboard-rol-item">
        <div class="alert alert-primary" role="alert">
            Como profesor puedes...
        </div>
        <mat-nav-list>
            <!-- 2A. Ver mi perfil  -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoMyLessons()">
                  <mat-icon>info</mat-icon>
                  <span class="task-item">Ver mis clases como profesor</span>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>

    <div *ngIf="userDetails.isStudent" class="card dashboard-rol-item">
        <div class="alert alert-primary" role="alert">
            Como estudiante puedes...
        </div>

        <mat-nav-list>

            <!-- 3A. Ver mis asistencias (como estudiante) -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoMyAttendances()">
                <mat-icon>info</mat-icon>
                <span class="task-item">Ver mis asistencias como estudiante</span>
              </button>
            </mat-list-item>
        </mat-nav-list>

    </div>

    <div *ngIf="userDetails.isUser" class="card dashboard-rol-item">
        <div class="alert alert-primary" role="alert">
            Como usuario registrado puedes...
        </div>

        <mat-nav-list>

            <!-- 4A. Ver mi perfil  -->
            <mat-list-item>
                <button mat-icon-button (click)="gotoMyProfile()">
              <mat-icon>info</mat-icon>
              <span class="task-item">Ver mi perfil</span>
            </button>
            </mat-list-item>

        </mat-nav-list>
    </div>

</mat-card>
