<mat-card *ngIf="lesson && course">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="applyStyles(course)"></div>
        <mat-card-title>{{ lesson.date | date:'fullDate' }}</mat-card-title>
        <mat-card-subtitle>Curso: {{ course.name }}</mat-card-subtitle>
    </mat-card-header>

    <app-lesson-view [course]="course" [lesson]="lesson"></app-lesson-view>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="gotoEdition()">
      Editar Clase
    </button> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="gotoCourse()">
      Ver Curso
    </button>
    </mat-card-actions>

    <mat-card-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>check_box</mat-icon>
                    &nbsp;&nbsp;Asistencia a la Clase
                </ng-template>
                <sh-lesson-attendance-table [course]="course" [lesson]="lesson"></sh-lesson-attendance-table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>people_outline</mat-icon>
                    &nbsp;&nbsp;Estudiantes del Curso
                </ng-template>
                <sh-course-users-table [course]="course"></sh-course-users-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>