<div *ngIf="lessons.length > 0; else noData">

    <mat-toolbar color="primary" *ngIf="course">
        <span>Todas sus clases</span>
        <span class="fill-remaining-space"></span>

        <mat-form-field class="filter-form-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nueva</button>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{
              'is-anulada': element.status === 'anulada',
              'is-programada': element.status === 'programada',
              'is-realizada': element.status === 'realizada'
            }"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actionsStatus">
            <th mat-header-cell *matHeaderCellDef>Cambio Estado</th>
            <td mat-cell *matCellDef="let element">
                &nbsp;
                <button mat-mini-fab color="accent" [ngClass]="(element.status === 'programada')?'action-is-disabled':'action-is-programada'" (click)="changeStatus(element, 'programada')"><mat-icon>arrow_forward</mat-icon></button> &nbsp;
                <button mat-mini-fab color="accent" [ngClass]="(element.status === 'realizada')?'action-is-disabled':'action-is-realizada'" (click)="changeStatus(element, 'realizada')"><mat-icon>check</mat-icon></button> &nbsp;
                <button mat-mini-fab color="accent" [ngClass]="(element.status === 'anulada')?'action-is-disabled':'action-is-anulada'" (click)="changeStatus(element, 'anulada')"><mat-icon>close</mat-icon></button>
            </td>
        </ng-container>

        <!-- schedule Column -->
        <ng-container matColumnDef="schedule">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'fullDate' }}, de {{element.startTime}} a {{element.endTime}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                &nbsp;
                <button mat-mini-fab color="warn" (click)="viewLesson(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                <button mat-mini-fab color="warn" (click)="editLesson(element)"><mat-icon>edit</mat-icon></button> &nbsp;
                <button mat-mini-fab color="warn" (click)="changeStatus(element, 'eliminada')"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>

    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

<ng-template #noData>
    <br>
    <div class="alert alert-danger text-center" role="alert">
        Aún no hay clases asociadas a este curso
        <br/><br/>
        <button mat-raised-button color="warn" (click)="gotoNew()">Crear Clase</button>
    </div>
</ng-template>
