<mat-card *ngIf="userDetails" [ngClass]="(userDetails.current)?'item-enabled':'item-disabled'">

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <br/><br/>

    <mat-card-content class="container">

        <div class="row">
            <div class="col-lg-4 col-md6 col-12">
                <mat-card-header>

                    <mat-card-title class="alert alert-primary text-center" role="alert">
                        {{ userDetails.displayName }}
                    </mat-card-title>

                    <mat-card-subtitle>
                        <!--
                        <pre *ngIf="user$ | async as user">
                          {{ user | json }}
                        </pre>
                        -->

                        <!--
                        <mat-chip-list aria-label="Roles">
                            <mat-chip *ngIf="userDetails.isUser">Registrado</mat-chip>
                            <mat-chip *ngIf="userDetails.isAdmin">Administrador</mat-chip>
                            <mat-chip *ngIf="userDetails.isTeacher">Profesor</mat-chip>
                            <mat-chip *ngIf="userDetails.isStudent">Estudiante</mat-chip>
                        </mat-chip-list>
                        -->
                    </mat-card-subtitle>
                </mat-card-header>

                <div *ngIf="userDetails.photoURL; else noPhotoTemplate">
                    <img [src]="userDetails.photoURL" class="mx-auto img-fluid img-circle d-block mt-3 mb-3 img-thumbnail" alt="avatar">
                </div>

                <mat-card-actions class="text-center">

                    <button *ngIf="userDetails.current" mat-mini-fab color="warn" [disabled]="!canAdmin" (click)="updateCurrent()"><mat-icon class="button-always-enabled">toggle_on</mat-icon></button>
                    <button *ngIf="!userDetails.current" mat-mini-fab color="warn" [disabled]="!canAdmin" (click)="updateCurrent()"><mat-icon>toggle_off</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" [disabled]="!userDetails.current || !canAdmin" (click)="gotoEdition()"><mat-icon>edit</mat-icon></button>
                </mat-card-actions>

            </div>

            <div class="col-lg-8 col-md-6 col-12">
                <mat-card-content>
                    <mat-tab-group>

                        <!-- A. Datos Personales -->
                        <mat-tab class="tab-data-detail" label="Datos Personales">

                            <mat-form-field class="data-detail">
                                <input matInput type="text" disabled="true" [value]="userDetails.displayName" placeholder="Nombre Completo" />
                                <mat-icon matSuffix>assignment_ind</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail">
                                <input matInput type="text" disabled="true" [value]="userDetails.nickName" placeholder="Nombre Corto" />
                                <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail" *ngIf="userDetails.location">
                                <input matInput type="text" disabled="true" [value]="userDetails.location" placeholder="Localidad" />
                                <mat-icon matSuffix>location_city</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail" *ngIf="userDetails.birthday">
                                <input matInput type="text" disabled="true" [value]="userDetails.birthday  | date:'fullDate'" placeholder="Fecha de Nacimiento" />
                                <mat-icon matSuffix>cake</mat-icon>
                            </mat-form-field>

                        </mat-tab>


                        <!-- B. Datos de Contacto -->
                        <mat-tab label="Datos de Contacto">

                            <mat-form-field class="data-detail" *ngIf="userDetails.contactPerson">
                                <input matInput type="text" disabled="true" [value]="userDetails.contactPerson" placeholder="Persona de Contacto" />
                                <mat-icon matSuffix>supervised_user_circle</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail" *ngIf="userDetails.contactPersonNif">
                                <input matInput type="text" disabled="true" [value]="userDetails.contactPersonNif" placeholder="NIF Persona de Contacto" />
                                <mat-icon matSuffix>assignment_ind</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail" *ngIf="userDetails.telephone">
                                <input matInput type="text" disabled="true" [value]="userDetails.telephone" placeholder="Teléfono de Contacto" />
                                <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail" *ngIf="userDetails.address">
                                <input matInput type="text" disabled="true" [value]="userDetails.address" placeholder="Dirección postal" />
                                <mat-icon matSuffix>home</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="data-detail">
                                <input matInput type="text" disabled="true" [value]="userDetails.email" placeholder="Email" />
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>

                        </mat-tab>

                        <!-- C. Datos de la Academia -->
                        <mat-tab label="El usuario en la Academia" [disabled]="!canAdmin">

                            <div *ngIf="userDetails.current; else noCurrentUser">
                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="userDetails.current ? 'SÍ': 'NO'" placeholder="Está actualmente en la Academia" />
                                    <mat-icon matSuffix>how_to_reg</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="(userDetails.isTeacher) ? 'SÍ': 'NO'" placeholder="Es Profesor (puede impartir clases)" />
                                    <mat-icon matSuffix>local_library</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="(userDetails.isStudent) ? 'SÍ': 'NO'" placeholder="Es Estudiante (puede asistir a clases)" />
                                    <mat-icon matSuffix>face</mat-icon>
                                </mat-form-field>

                                <div *ngIf="userDetails.rateId; else noRateTemplate" class="ml-5">
                                    <mat-form-field class="data-detail" *ngIf="rateName">
                                        <input matInput type="text" disabled="true" [value]="rateName" placeholder="Tarifa" />
                                        <mat-icon matSuffix>local_offer</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field class="data-detail" *ngIf="userDetails.paymentMethod">
                                        <input matInput type="text" disabled="true" [value]="userDetails.paymentMethod" placeholder="Modo de Pago" />
                                        <mat-icon matSuffix>payment</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                        </mat-tab>


                        <!-- D. El usuario en la App -->
                        <mat-tab label="El usuario en la App" [disabled]="!canAdmin">
                            <div *ngIf="userChecked; else noRegisteredUser">

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="userChecked.enable ? 'SÍ': 'NO'" placeholder="Puede usar la aplicación" />
                                    <mat-icon matSuffix>how_to_reg</mat-icon>
                                </mat-form-field>

                                <div class="ml-5">
                                    <mat-form-field class="data-detail">
                                        <input matInput type="text" disabled="true" [value]="(userDetails.email) ? userDetails.email : '-'" placeholder="Email de acceso en ItsyBitsy " />
                                        <mat-icon matSuffix>alternate_email</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field class="data-detail">
                                        <input matInput type="text" disabled="true" [value]="(userChecked.emailVerified) ? 'SI' : 'NO'" placeholder="Email verificado " />
                                        <mat-icon matSuffix>check_circle_outline</mat-icon>
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="(userChecked.roles?.includes('ADMIN')) ? 'SÍ': 'NO'" placeholder="Es Administrador (puede ver informes, tarifas y los datos de todos)" />
                                    <mat-icon matSuffix>supervised_user_circle</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" disabled="true" [value]="(userChecked.roles?.includes('REVISOR')) ? 'SÍ': 'NO'" placeholder="Es Revisor (puede ver sus clases o asistencias)" />
                                    <mat-icon matSuffix>zoom_in</mat-icon>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </mat-card-content>
            </div>
        </div>

    </mat-card-content>
</mat-card>

<!-- C. El usuario en la academia -->
<ng-template #noCurrentUser>
    <div class="alert alert-warning" style="margin:10px;padding:40px" role="alert">
        {{ userDetails.displayName }} actualmente no está activo en la Academia.
    </div>
</ng-template>

<!-- D. El usuario en la App -->
<ng-template #noRegisteredUser>
    <div class="alert alert-warning" style="margin:10px;padding:40px" role="alert">
        {{ userDetails.displayName }} nunca ha accedido y por tanto no está registrado en la aplicación.
        <br/><br/> No se le pueden dar permisos hasta que no se haya registrado.
    </div>
</ng-template>

<ng-template #noPhotoTemplate>
    <img [src]="'assets/avatar/000-no-picture.png'" class="mx-auto img-fluid img-circle d-block mt-3 mb-3 img-thumbnail" alt="avatar">
</ng-template>

<ng-template #noRateTemplate>
    <div class="alert alert-warning" style="margin:10px;padding:40px" role="alert">
        No hay tarifa aún asociada a {{ userDetails.displayName }}
    </div>
</ng-template>
