<mat-card *ngIf="rate" class="edit-mode">

    <mat-toolbar color="warn">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="goBack()">Volver</button>
    </mat-toolbar>

    <br/><br/>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="rate.image" class="img-thumbnail" />
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <form [formGroup]="rateForm" class="form-container" (ngSubmit)="onSaveForm()">

                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" placeholder="Nombre de la Tarifa">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Tipo de Tarifa</mat-label>
                        <mat-select formControlName="type" [value]="rateForm.get('type').value">
                            <mat-option *ngFor="let type of RATE_TYPES" [value]="type">
                                {{type | json}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="text" formControlName="price" placeholder="Precio establecido">
                    </mat-form-field>

                </mat-card-content>

                <div class="row">

                    <div class="col-12 text-right">

                        <mat-card-actions>

                            <button mat-raised-button [title]="rateForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!rateForm.valid" type="submit" color="warn">Guardar</button>

                            <button mat-raised-button type="button" color="warn" (click)="goBack()">Volver sin guardar</button>

                        </mat-card-actions>

                    </div>

                </div>

            </form>
        </div>
    </div>
</mat-card>