<mat-toolbar color="primary">
    <h2 [routerLink]="['/home']">Itsy Bitsy</h2>
    <span class="fill-remaining-space"></span>

    <div *ngIf="user$ | async as user; else showLogin">
        <span class="greeting">Hola {{ user.displayName }}</span>
        <button mat-raised-button color="accent" (click)="gotoProfile()">
          <mat-icon>how_to_reg</mat-icon>
        </button>&nbsp;
        <button mat-raised-button color="accent" (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>&nbsp;
        <button mat-raised-button color="accent" (click)="gotoDashboard()">
          <mat-icon>grid_on</mat-icon>
        </button>
    </div>
</mat-toolbar>

<ng-template #showLogin>
    <button mat-raised-button color="accent" (click)="login()">
      Entrar  <mat-icon class="header-icon">account_circle</mat-icon>
    </button>
</ng-template>
