<mat-toolbar color="primary">
    <span>{{pageTitle}}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" (click)="goBack()">Volver</button>
</mat-toolbar>

<mat-card>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="courseForm.get('image').value" class="img-thumbnail" />
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <form [formGroup]="courseForm" class="form-container" (ngSubmit)="onSaveForm()">
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" placeholder="Nombre del Curso">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Image</mat-label>
                        <mat-select formControlName="image" [value]="courseForm.get('image').value">
                            <mat-option *ngFor="let icon of ICONS" [value]="icon.path">
                                {{icon.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Día de la Semana</mat-label>
                        <mat-select formControlName="weekDay" [value]="courseForm.get('weekDay').value">
                            <mat-option *ngFor="let weekDay of WEEK_DAY_ARRAY" [value]="weekDay">
                                {{weekDay}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="time" formControlName="startTime" placeholder="Escoge la hora de inicio">
                        <mat-error *ngIf="!!courseForm.get('startTime').errors?.required">Es necesario incluir esta información</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="time" formControlName="endTime" placeholder="Escoge la hora de fin">
                        <mat-error *ngIf="!!courseForm.get('endTime').errors?.required">Es necesario incluir esta información</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Profesor</mat-label>
                        <mat-select formControlName="teacherId" [value]="courseForm.get('teacherId').value">
                            <mat-option *ngFor="let teacher of TEACHERS" [value]="teacher.uid">
                                {{teacher.displayName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>


                <mat-card-actions>

                    <button mat-raised-button [title]="courseForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!courseForm.valid" type="submit" color="primary">Guardar</button>

                    <button mat-raised-button type="button" (click)="onResetForm()" color="primary">Limpiar</button>

                    <button mat-raised-button type="button" (click)="gotoList()" color="primary">Ver listado</button>

                </mat-card-actions>

            </form>
        </div>
    </div>
</mat-card>