.mat-column-schedule {
    padding-left: 20px;
    width: 300px;
}

.mat-column-classRoom {
    width: 80px;
    text-align: center;
    padding-right: 20px;
}

.mat-column-attendances {
    width: 800px;
}
