<table mat-table [dataSource]="dataSource" matSort>

    <!-- status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
        'is-eliminada': element.status === 'eliminada',
        'is-anulada': element.status === 'anulada',
        'is-programada': element.status === 'programada',
        'is-ausente': element.status === 'ausente',
        'is-presente': element.status === 'presente'
      }"> {{element.status}} </td>
    </ng-container>

    <!-- courseImage Column -->
    <ng-container matColumnDef="courseImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
            <img (click)="viewLesson(element)" [src]="element.courseImage" class="img-thumbnail" alt="element.courseName">
        </td>
    </ng-container>

    <!-- courseName Column -->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.courseName }} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'fullDate' }} </td>
    </ng-container>

    <!-- horario Column -->
    <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario</th>
        <td mat-cell *matCellDef="let element"> De {{element.startTime }} a {{element.endTime }}</td>
    </ng-container>

    <!-- Attendances Column -->

    <!-- classRoom Column -->
    <ng-container matColumnDef="classRoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aula</th>
        <td mat-cell *matCellDef="let element"> {{element.classRoom }} </td>
    </ng-container>

    <!-- Actions -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
    </tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>