.mat-column-actions {
    width: 20px;
}

.mat-column-schedule {
    padding-left: 20px;
    width: 300px;
}

.mat-column-courseName {
    width: 200px;
}

.mat-column-classRoom {
    width: 80px;
    text-align: center;
    padding-right: 20px;
}

.mat-column-teacherImage {
    padding-left: 10px;
    border: 3px solid white;
    width: 80px;
    .img-thumbnail {
        width: 48px;
    }
}

.mat-column-attendances {
    width: 800px;
}
