.mat-column-scheduler,
.mat-column-aforo {
    padding-left: 10px;
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.mat-column-nextLesson,
.mat-column-weekLesson {
    text-align: left;
}

.mat-column-nextLessonActions,
.mat-column-weekLessonActions {
    text-align: center;
    width: 100px;
    border-left: 1px solid rgba(0, 0, 0, .12);
    padding-right: 0px !important;
}

.mat-column-aforo {
    width: 600px;
}
