<mat-card *ngIf="!loading; else loadingTemplate">

    <mat-toolbar color="primary">
        <span>Panel de Cursos Activos</span>
        <span class="fill-remaining-space"></span>

        <mat-form-field class="filter-form-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- courseImage Column -->
        <ng-container matColumnDef="courseImage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let course">
                <img (click)="gotoCourse(course)" [src]="course.image" class="img-thumbnail" alt="course.displayName">
            </td>
        </ng-container>

        <!-- courseName Column -->
        <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Schedule Column -->
        <ng-container matColumnDef="schedule">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario </th>
            <td mat-cell *matCellDef="let element"> {{element.weekDay}}, de {{element.startTime}} a {{element.endTime}} </td>
        </ng-container>

        <!-- teacherImage Column -->
        <ng-container matColumnDef="teacherImage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Profesor</th>
            <td mat-cell *matCellDef="let course">
                <img [src]="course.teacherImage" class="img-thumbnail" alt="course.teacherImage" />
            </td>
        </ng-container>

        <!-- Aforo (NumStudents) Column -->
        <ng-container matColumnDef="aforo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumnos</th>
            <td mat-cell *matCellDef="let course">

                <app-sh-students-items [students]="course.studentList"></app-sh-students-items>

            </td>
        </ng-container>

        <!-- weekLesson Column -->
        <ng-container matColumnDef="weekLessonActions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab color="primary" (click)="addMultipleWeekLessons()"><mat-icon>add_box</mat-icon></button>
            </th>
            <td mat-cell *matCellDef="let course">
                <button mat-mini-fab color="accent" *ngIf="!course.weekLesson" (click)="addWeekLesson(course)"><mat-icon>add_box</mat-icon></button>
                <button mat-mini-fab color="warn" *ngIf="course.weekLesson" (click)="gotoLesson(course, course.weekLessonId )"><mat-icon>pageview</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="weekLesson">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-icon-message">
                Esta Semana<br>de {{ weekMonday | date:'dd-MMM' }} a {{ weekFriday | date:'dd-MMM' }}

            </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.weekLesson">{{element.weekLesson | date:'EEEE, MMMM d' }}</span> </td>
        </ng-container>


        <!-- nextLesson Column -->
        <ng-container matColumnDef="nextLessonActions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab color="primary" (click)="addMultipleNextLessons()"><mat-icon>add_box</mat-icon></button>
            </th>
            <td mat-cell *matCellDef="let course">
                <button mat-mini-fab color="warn" *ngIf="course.nextLesson" (click)="gotoLesson(course, course.nextLessonId )"><mat-icon>pageview</mat-icon></button>
                <button mat-mini-fab color="accent" *ngIf="!course.nextLesson" (click)="addNextLesson(course)"><mat-icon>add_box</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="nextLesson">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-icon-message">
                Próxima Semana<br>de {{ nextMonday | date:'dd-MMM' }} a {{ nextFriday | date:'dd-MMM' }}
            </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.nextLesson">{{element.nextLesson | date:'EEEE, MMMM d' }}</span> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>

    </table>

    <mat-paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</mat-card>

<ng-template #loadingTemplate>
    <sh-loading></sh-loading>
</ng-template>
