<mat-card>

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">
        <app-sh-calendar-date class="col-12" [date]="dateIni" (updateDate)="onUpdateDate($event)"></app-sh-calendar-date>
    </div>

    <mat-card-content class="attendances-view" *ngIf="!loading; else loadingTemplate">
        <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
            <mat-tab *ngFor="let lesson of lessons">

                <ng-template mat-tab-label>
                    <mat-icon>assignment_ind</mat-icon>
                    &nbsp;&nbsp; {{ lesson.course.name }} ({{lesson.startTime}})
                </ng-template>

                <sh-lesson-attendance-table [course]="lesson.course" [lesson]="lesson"></sh-lesson-attendance-table>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>

</mat-card>

<ng-template #loadingTemplate>
    cargando...
    <sh-loading></sh-loading>
</ng-template>