.attendances-view {
    margin-top: 30px;
}

.tab-lesson-pending {
    color: #422575; // #673ab7;
    font-size: smaller;
    // font-weight: normal;
}

.tab-lesson-reviewed {
    color: darkgoldenrod;
    font-size: smaller;
    font-weight: normal;
}