<mat-card>

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">
        <app-sh-calendar-date class="col-12" [date]="dateIni" (updateDate)="onUpdateDate($event)"></app-sh-calendar-date>
    </div>

    <div *ngIf="lessons.length > 0; else noLessonsTemplate">
        <mat-card-content class="attendances-view" *ngIf="!loading; else loadingTemplate">
            <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
                <mat-tab *ngFor="let lesson of lessons">

                    <ng-template mat-tab-label>
                        <div [ngClass]="{'tab-lesson-reviewed': lesson.attendancesReviewed, 'tab-lesson-pending': !lesson.attendancesReviewed }">
                            <div *ngIf="!lesson.attendancesReviewed; else lessonReviewedTemplate">
                                <mat-icon>
                                    assignment_ind
                                </mat-icon>
                                &nbsp;&nbsp;
                            </div>

                            {{ lesson.course.name }} ({{lesson.startTime}})
                        </div>
                    </ng-template>

                    <sh-lesson-attendance-table (isReviewed)="checkReviewed($event)" [course]="lesson.course" [lesson]="lesson"></sh-lesson-attendance-table>

                    <div class="m-3 text-center">
                        <button mat-raised-button (click)="gotoLesson(lesson)" color="primary" text="Ir a esta clase">Ir a esta clase</button>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </div>

</mat-card>

<ng-template #loadingTemplate>
    cargando...
    <sh-loading></sh-loading>
</ng-template>

<ng-template #noLessonsTemplate>
    <div class="alert alert-warning text-center" style="margin:10px;padding:40px" role="alert">
        No hay lecciones para este día
    </div>
</ng-template>

<ng-template #lessonReviewedTemplate>
    <div>
        <mat-icon>
            check_circle
        </mat-icon>
        &nbsp;&nbsp;
    </div>
</ng-template>