<mat-card *ngIf="lesson && course">

    <mat-toolbar color="primary">
        <span>{{pageTitle}}  {{lesson.date | date:'longDate' }}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">

        <app-sh-lesson-data class="col-6" *ngIf="lesson" [course]="course" [lesson]="lesson" [enableEdition]="true"></app-sh-lesson-data>

        <app-sh-course-data class="col-6" *ngIf="course" [course]="course" [enableEdition]="false"></app-sh-course-data>

    </div>

    <mat-card-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>check_box</mat-icon>
                    &nbsp;&nbsp;Asistencia a la Clase
                </ng-template>
                <sh-lesson-attendance-table [course]="course" [lesson]="lesson"></sh-lesson-attendance-table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>people_outline</mat-icon>
                    &nbsp;&nbsp;Estudiantes del Curso
                </ng-template>
                <sh-course-users-table [course]="course"></sh-course-users-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
