<mat-card *ngIf="course">

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">

        <app-sh-course-data class="col-6" *ngIf="course" [course]="course" [enableEdition]="true"></app-sh-course-data>

        <app-sh-course-data-extended class="col-6" *ngIf="course" [course]="course"></app-sh-course-data-extended>

    </div>

    <mat-card-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>event</mat-icon>
                    &nbsp;&nbsp;Clases
                </ng-template>
                <sh-course-lessons-table [course]="course"> </sh-course-lessons-table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>people_outline</mat-icon>
                    &nbsp;&nbsp;Estudiantes
                </ng-template>
                <sh-course-users-table [course]="course"></sh-course-users-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>