<mat-card>

    <mat-toolbar color="primary">
        <span>Base de Datos de Personas</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
    </mat-toolbar>

    <br/><br/><br/>

    <mat-tab-group>

        <!-- 1. Todos -->
        <mat-tab>
            <div *ngIf="allUsers$ | async as allUsers; else loadingTemplate">
                <ng-template mat-tab-label>
                    <mat-icon>recent_actors</mat-icon>
                    &nbsp;&nbsp;Todos ({{allUsers.length}})
                </ng-template>

                <sh-user-list [users]="allUsers" [titleTable]="'Todas las personas activas en la Academia'" [type]="''"></sh-user-list>
            </div>
        </mat-tab>

        <!-- 2. Students -->
        <mat-tab>
            <div *ngIf="allStudents$ | async as allStudents">
                <ng-template mat-tab-label>
                    <mat-icon>people_outline</mat-icon>
                    &nbsp;&nbsp;Estudiantes ({{allStudents.length}})
                </ng-template>

                <sh-user-list [users]="allStudents" [titleTable]="'Estudiantes Actuales de la Academia'" [type]="'STUDENTS'"></sh-user-list>
            </div>
        </mat-tab>

        <!-- 3. Teachers -->
        <mat-tab>
            <div *ngIf="allTeachers$ | async as allTeachers">
                <ng-template mat-tab-label>
                    <mat-icon>people</mat-icon>
                    &nbsp;&nbsp;Profesores ({{allTeachers.length}})
                </ng-template>

                <sh-user-list [users]="allTeachers" [titleTable]="'Profesores Actuales de la Academia'" [type]="'TEACHERS'"></sh-user-list>
            </div>
        </mat-tab>

        <!-- 4. Usuarios Eliminados -->
        <mat-tab>
            <div *ngIf="allDisabledUsers$ | async as allDisabledUsers">
                <ng-template mat-tab-label>
                    <mat-icon>delete</mat-icon>
                    &nbsp;&nbsp;Personas no Activas ({{allDisabledUsers.length}})
                </ng-template>

                <sh-user-list [users]="allDisabledUsers" [titleTable]="'Personas no activas en la Academia'" [type]="''"></sh-user-list>
            </div>
        </mat-tab>

        <!-- 5. Todas las personas Registradas -->
        <mat-tab>
            <div *ngIf="allRegisteredUsers">
                <ng-template mat-tab-label>
                    <mat-icon>how_to_reg</mat-icon>
                    &nbsp;&nbsp;Registrados en la App ({{ allRegisteredUsers.length }})
                </ng-template>

                <sh-user-list [users]="allRegisteredUsers" [titleTable]="'Usuarios registrados en la App'" [type]="'REGISTERED'"></sh-user-list>
            </div>
        </mat-tab>


    </mat-tab-group>

</mat-card>

<ng-template #loadingTemplate>
    <sh-loading></sh-loading>
</ng-template>
