<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile (click)="gotoUsersList()">
        <div>
            <img id="logo1" src="assets/section/dash-usuarios.png" alt="Area de Usuarios">
            <h2>usuarios</h2>
        </div>
    </mat-grid-tile>

    <mat-grid-tile (click)="gotoCoursesList()">
        <div>
            <img id="logo2" src="assets/section/dash-cursos.png" alt="Area de Cursos">
            <h2>cursos</h2>
        </div>
    </mat-grid-tile>

    <mat-grid-tile (click)="gotoRates()">
        <div>
            <img id="logo3" src="assets/section/dash-tarifas.png" alt="Area de Tarifas">
            <h2>tarifas</h2>
        </div>
    </mat-grid-tile>

    <mat-grid-tile (click)="gotoReports()">
        <div>
            <img id="logo4" src="assets/section/dash-informes.png" alt="Area de Informes">
            <h2>informes</h2>
        </div>
    </mat-grid-tile>
</mat-grid-list>
