<mat-card *ngIf="rate$ | async as rate">

    <mat-toolbar color="primary">
        <span>Detalles de la tarifa {{ rate.name }}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">
        <app-sh-rate-data class="col-6" *ngIf="rate" [rate]="rate" [enableEdition]="true"></app-sh-rate-data>
    </div>

    <mat-card-content>
        <div *ngIf="students$ | async as students">
            <sh-user-list [users]="students"></sh-user-list>
        </div>
    </mat-card-content>

</mat-card>
