<table mat-table [dataSource]="dataSource" matSort>

    <!-- status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
          'is-eliminada': element.status === 'eliminada',
          'is-anulada': element.status === 'anulada',
          'is-programada': element.status === 'programada',
          'is-ausentada': element.status === 'ausentada',
          'is-confirmada': element.status === 'confirmada'
        }"> {{element.status}} </td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <!-- lessonDate Column -->
    <ng-container matColumnDef="lessonDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.lessonDate | date:'fullDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
        <td mat-cell *matCellDef="let element">
            &nbsp;
            <button *ngIf="element.comment!=''" (click)="viewComment(element)" mat-mini-fab color="warn"><mat-icon>message</mat-icon></button> &nbsp;
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
    </tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>