mat-grid-tile {
    background: #9fd960;
    cursor: pointer;
}

img {
    margin-bottom: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    text-align: center;
}
