<mat-card *ngIf="course" class="edit-mode">

    <mat-toolbar color="warn">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="goBack()">Ver Curso</button>
    </mat-toolbar>

    <br/><br/>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="course.image" class="img-thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <form [formGroup]="courseForm" class="form-container" (ngSubmit)="onSaveForm()">
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" placeholder="Nombre del Curso">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Tipo de Curso</mat-label>
                        <mat-select formControlName="type" (selectionChange)="changeImage($event)" [value]="courseForm.get('type').value">
                            <mat-option *ngFor="let type of COURSE_TYPE_ARRAY" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Día de la Semana</mat-label>
                        <mat-select formControlName="weekDay" [value]="courseForm.get('weekDay').value">
                            <mat-option *ngFor="let weekDay of WEEK_DAY_ARRAY" [value]="weekDay">
                                {{weekDay}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="time" formControlName="startTime" placeholder="Escoge la hora de inicio">
                        <mat-error *ngIf="!!courseForm.get('startTime').hasError('required')">Es necesario incluir esta información</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="time" formControlName="endTime" placeholder="Escoge la hora de fin">
                        <mat-error *ngIf="!!courseForm.get('endTime').hasError('required')">Es necesario incluir esta información</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Profesor</mat-label>
                        <mat-select formControlName="teacherId" [value]="courseForm.get('teacherId').value">
                            <mat-option *ngFor="let teacher of TEACHERS" [value]="teacher.uid">
                                {{teacher.displayName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Aulas</mat-label>
                        <mat-select formControlName="classRoom" [value]="courseForm.get('classRoom').value">
                            <mat-option *ngFor="let classRoom of CLASSROOM_ARRAY" [value]="classRoom">
                                {{classRoom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions>

                    <button mat-raised-button [title]="courseForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!courseForm.valid" type="submit" color="warn">Guardar</button>

                    <button mat-raised-button type="button" (click)="onResetForm()" color="warn">Volver sin guardar</button>

                </mat-card-actions>

            </form>

        </div>
    </div>
</mat-card>
