table {
    width: 100%;
}

.mat-form-field {
    width: 200px;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 14px;
}

.mat-column-name {
    padding-left: 30px;
}

.mat-column-scheduler,
.mat-column-aforo {
    padding-left: 10px;
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.mat-column-teacher,
.mat-column-image {
    border: 3px solid white;
    width: 60px;
    text-align: center;
    .img-thumbnail {
        width: 48px;
    }
}

.mat-column-nextLesson,
.mat-column-weekLesson {
    text-align: left;
}

.mat-column-nextLessonActions,
.mat-column-weekLessonActions {
    text-align: center;
    width: 100px;
    border-left: 1px solid rgba(0, 0, 0, .12);
    padding-right: 0px !important;
}

.mat-column-aforo {
    width: 600px;
}
