<mat-card *ngIf="userDetails" class="edit-mode">

    <mat-toolbar color="warn">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="goBack()">Volver</button>
    </mat-toolbar>

    <br/><br/>

    <form [formGroup]="userDetailsForm" class="form-container" (ngSubmit)="onSaveForm()">

        <mat-card-content class="container">

            <div class="row">

                <!-- INI PORTADA -->
                <div class="col-lg-4 col-md6 col-12">

                    <mat-card-header>
                        <mat-card-title class="alert alert-danger text-center" role="alert">
                            {{ userDetails.displayName }}
                        </mat-card-title>
                    </mat-card-header>

                    <img [src]="userDetailsForm.get('photoURL').value" style="width:80%" (click)="inputImageProfile.click()" />
                    <input hidden type="file" #inputImageProfile (change)="uploadFile($event)">

                    <hr>

                    <span (click)="inputImageProfile.click()">Clica en la imagen para cambiar la foto</span>

                    <mat-form-field class="data-detail">
                        <mat-label>Avatar</mat-label>
                        <mat-select formControlName="photoURL" [value]="userDetailsForm.get('photoURL').value">
                            <mat-option *ngFor="let avatar of AVATARES" [value]="avatar.path">
                                {{avatar.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- FIN PORTADA -->


                <!-- INI DATOS -->
                <div class="col-lg-8 col-md-6 col-12">

                    <mat-card-content>
                        <mat-tab-group>

                            <!-- A. Datos Personales -->
                            <mat-tab class="tab-data-detail" label="Datos Personales">

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="displayName" placeholder="Nombre Completo">
                                    <mat-icon matSuffix>assignment_ind</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="nickName" placeholder="Nombre Corto">
                                    <mat-icon matSuffix>face</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="location" placeholder="Localidad">
                                    <mat-icon matSuffix>location_city</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Fecha de Nacimiento">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                                    <mat-icon matSuffix>cake</mat-icon>
                                </mat-form-field>

                            </mat-tab>


                            <!-- B. Datos de Contacto -->
                            <mat-tab label="Datos de Contacto">

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="contactPerson" placeholder="Persona de Contacto">
                                    <mat-icon matSuffix>supervised_user_circle</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="contactPersonNif" placeholder="Nif Persona de Contacto">
                                    <mat-icon matSuffix>assignment_ind</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="telephone" placeholder="Teléfono de Contacto">
                                    <mat-icon matSuffix>phone</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="address" placeholder="Dirección postal">
                                    <mat-error *ngIf="!!userDetailsForm.get('address').hasError('required')">{{ errorMessage }}</mat-error>
                                    <mat-icon matSuffix>home</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <input matInput type="text" formControlName="email" placeholder="Correo Electrónico">
                                    <mat-error *ngIf="!!userDetailsForm.get('email').hasError('required')">{{ errorMessage }}</mat-error>
                                    <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>

                            </mat-tab>

                            <!-- C. Datos de Facturación -->
                            <mat-tab label="Datos de Facturación" [disabled]="!canAdmin">

                                <mat-form-field class="data-detail" *ngIf="rates$ | async as RATES">
                                    <mat-label>Tarifa</mat-label>
                                    <mat-select formControlName="rateId" [value]="userDetailsForm.get('rateId').value">
                                        <mat-option *ngFor="let rate of RATES" [value]="rate.id">
                                            {{rate.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>local_offer</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="data-detail">
                                    <mat-label>Método de Pago</mat-label>
                                    <mat-select formControlName="paymentMethod" [value]="userDetailsForm.get('paymentMethod').value">
                                        <mat-option *ngFor="let paymentMethod of PAYMENT_METHOD_ARRAY" [value]="paymentMethod">
                                            {{paymentMethod}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>payment</mat-icon>
                                </mat-form-field>

                            </mat-tab>


                            <!-- D. El usuario en la App -->
                            <mat-tab label="El usuario en la App" [disabled]="!canAdmin">
                                <div *ngIf="userChecked; else noRegisteredUser">

                                    <div class="data-detail-check">
                                        <mat-slide-toggle color="warn" [checked]="userChecked.enable" (change)="changeUser('ENABLE')">
                                            Puede usar la aplicación
                                        </mat-slide-toggle>
                                        <mat-icon matSuffix>how_to_reg</mat-icon>
                                    </div>

                                    <div class="ml-5 pt-3">
                                        <mat-form-field class="data-detail">
                                            <input matInput type="text" disabled="true" [value]="(userDetails.isUser) ? userDetails.email : '-'" placeholder="Email de acceso en ItsyBitsy " />
                                            <mat-icon matSuffix>alternate_email</mat-icon>
                                        </mat-form-field>

                                        <mat-form-field class="data-detail">
                                            <input matInput type="text" disabled="true" [value]="(userChecked.emailVerified) ? 'SI' : 'NO'" placeholder="Email verificado " />
                                            <mat-icon matSuffix>check_circle_outline</mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <div class="data-detail-check">
                                        <mat-slide-toggle color="warn" [checked]="(userChecked.roles?.includes('ADMIN'))" (change)="changeUser('ADMIN')">
                                            Es Administrador
                                        </mat-slide-toggle>
                                        <mat-icon matSuffix>supervised_user_circle</mat-icon>
                                    </div>

                                    <div class="data-detail-check">
                                        <mat-slide-toggle color="warn" [checked]="(userChecked.roles?.includes('PROFESOR'))" (change)="changeUser('PROFESOR')">
                                            Es profesor
                                        </mat-slide-toggle>
                                        <mat-icon matSuffix>supervisor_account</mat-icon>
                                    </div>

                                    <div class="data-detail-check">
                                        <mat-slide-toggle color="warn" [checked]="(userChecked.roles?.includes('ESTUDIANTE'))" (change)="changeUser('ESTUDIANTE')">
                                            Es estudiante
                                        </mat-slide-toggle>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </div>

                                </div>
                            </mat-tab>

                        </mat-tab-group>
                    </mat-card-content>

                </div>
                <!-- FIN DATOS -->
            </div>

        </mat-card-content>

        <div class="row">

            <div class="col-12 text-right">

                <mat-card-actions>
                    <button mat-raised-button [title]="userDetailsForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!userDetailsForm.valid" type="submit" color="warn">Guardar</button>
                    <button mat-raised-button type="button" color="warn" (click)="goBack()">Volver sin guardar</button>
                </mat-card-actions>
            </div>

        </div>

    </form>
</mat-card>


<!-- D. El usuario en la App -->
<ng-template #noRegisteredUser>
    <div class="alert alert-warning" style="margin:10px;padding:40px" role="alert">
        {{ userDetails.displayName }} nunca ha accedido y por tanto no está registrado en la aplicación.
        <br/><br/> No se le pueden dar permisos hasta que no se haya registrado.
    </div>
</ng-template>