<div *ngIf="student" class="container-fluid">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-4" style="text-align: center;">
            <img [src]="student.photoURL" style="height:80%" />
        </div>

        <div class="col-12 col-md-6 col-lg-8">

            <h3>{{ student.displayName }}</h3>
            <br/><br/>
            <h4>{{ student.email }}</h4>
            <h4>{{ student.contact }}</h4>
            <h4>{{ student.phone }}</h4>
            <h4>{{ student.fare }}</h4>
            <br/><br/>
            <button mat-raised-button color="primary" (click)="gotoEdition()">Editar</button>
        </div>
    </div>

</div>
