<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>ItsyBitsy</span>
            <span class="header-spacer"></span>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Favoritos">favorite</mat-icon>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Usuarios" routerLink="/usuarios">people</mat-icon>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Estudiantes" routerLink="/estudiantes">photo_library</mat-icon>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Login" (click)="login()">account_circle</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<br/>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>