<mat-card *ngIf="userDetails">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-12">
                <mat-card-header>
                    <div mat-card-avatar [ngStyle]="applyStyles(userDetails)"></div>
                    <mat-card-title>{{ userDetails.displayName }}</mat-card-title>
                    <mat-card-subtitle>{{ userDetails.email }}</mat-card-subtitle>
                </mat-card-header>


                <img [src]="userDetails.photoURL" class="mx-auto img-fluid img-circle d-block" alt="avatar">

                <hr>

                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="gotoEdition()">Editar Datos</button>
                </mat-card-actions>

                <mat-card-content>
                    <mat-chip-list aria-label="Roles">
                        <mat-chip *ngIf="userDetails.isUser" color="primary">Registrado</mat-chip>
                        <mat-chip *ngIf="userDetails.isAdmin" color="primary">Administrador</mat-chip>
                        <mat-chip *ngIf="userDetails.isTeacher" color="primary">Profesor</mat-chip>
                        <mat-chip *ngIf="userDetails.isStudent" color="primary">Estudiante</mat-chip>
                    </mat-chip-list>
                </mat-card-content>

            </div>

            <div class="col-lg-6 col-12">
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Datos Personales">

                            <br>

                            <h6>Nick</h6>
                            <mat-card-title>
                                {{ userDetails.nickName }}
                            </mat-card-title>

                            <h6>Email</h6>
                            <mat-card-title>
                                {{ userDetails.email }}
                            </mat-card-title>


                        </mat-tab>
                        <mat-tab *ngIf="userDetails.isAdmin" label="Administrador">
                            2
                        </mat-tab>
                        <mat-tab *ngIf="userDetails.isTeacher" label="Profesor">
                            3
                        </mat-tab>
                        <mat-tab *ngIf="userDetails.isStudent" label="Estudiante">
                            4
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </div>
        </div>

    </div>
</mat-card>