<div class="container-fluid">

    <div class="row">
        <h3>{{pageTitle}}</h3>
    </div>

    <div class="row">
        <app-user-view [userDetailsId]="userDetailsId"></app-user-view>
    </div>

    <div class="row">

        <div class="col-12">

            <form [formGroup]="studentForm" class="form-container" (ngSubmit)="onSaveForm()">

                <mat-form-field>
                    <input matInput type="text" formControlName="contact" placeholder="Persona de Contacto">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tarifa</mat-label>
                    <mat-select formControlName="rate" [value]="studentForm.get('rate').value">
                        <mat-option *ngFor="let rate of RATES" [value]="rate.id">
                            {{rate.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <button mat-raised-button [title]="studentForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!studentForm.valid" type="submit" color="primary">Guardar</button>

                <button mat-raised-button [disabled]="student?.id !== '0'" type="button" (click)="onResetForm()" color="primary">Limpiar</button>

                <button mat-raised-button type="button" (click)="gotoDetails()" color="primary">Volver</button>

            </form>

        </div>
    </div>
</div>
