<div class="container-fluid">

    <div class="row">
        <h3>{{pageTitle}}</h3>
    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-4" style="text-align: center;">
            <img [src]="studentForm.get('photoURL').value" style="height:80%" />
        </div>

        <div class="col-12 col-md-6 col-lg-8">

            <form [formGroup]="studentForm" class="form-container" (ngSubmit)="onSaveForm()">

                <mat-form-field>
                    <input matInput type="text" formControlName="displayName" placeholder="Nombre Completo">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Avatar</mat-label>
                    <mat-select formControlName="photoURL" [value]="studentForm.get('photoURL').value">
                        <mat-option *ngFor="let avatar of AVATARES" [value]="avatar.path">
                            {{avatar.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="email" placeholder="Correo Electrónico">
                    <mat-error *ngIf="!!studentForm.get('email').errors?.email">{{ errorMessage }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="tel" formControlName="phone" placeholder="Teléfono">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="contact" placeholder="Persona de Contacto">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tarifa</mat-label>
                    <mat-select formControlName="fare" [value]="studentForm.get('fare').value">
                        <mat-option *ngFor="let fare of FARES" [value]="fare.name">
                            {{fare.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button [title]="studentForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!studentForm.valid" type="submit" color="primary">Guardar</button>

                <button mat-raised-button type="button" (click)="onResetForm()" color="primary">Limpiar</button>

                <button mat-raised-button type="button" (click)="gotoList()" color="primary">Ver listado</button>

                <button mat-raised-button type="button" (click)="onRandomPopulateForm()" color="primary">Random</button>

            </form>

        </div>
    </div>
</div>

<pre>
  {{ this.student | json }}
</pre>