<h1 mat-dialog-title>Añadir un nuevo estudiante al curso</h1>
<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Posibles estudiantes</mat-label>
        <mat-select [(ngModel)]="selectedStudent">
            <mat-option *ngFor="let student of STUDENTS" [value]="student">
                {{student.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="image-seleted-student" *ngIf="selectedStudent">
        <img [src]="selectedStudent.photoURL" alt="selectedStudent.displayName" class="img-thumbnail">
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">No , gracias</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="selectedStudent" cdkFocusInitial>Ok</button>
</div>