<mat-toolbar>
    <!--
    <span>Resumen de Asistencias</span>
    -->
    <span class="fill-remaining-space"></span>

    <mat-form-field class="filter-form-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="downloadAllInfo()"><mat-icon>cloud_download</mat-icon></button> &nbsp;

</mat-toolbar>



<table mat-table [dataSource]="dataSource" matSort>

    <!-- studentId Column -->
    <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
        <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
    </ng-container>

    <!-- imageStudent -->
    <ng-container matColumnDef="photoURL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.photoURL" class="img-thumbnail" alt="element.studentName">
        </td>
    </ng-container>

    <!-- studentName Column -->
    <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estudiante</th>
        <td mat-cell *matCellDef="let element"> {{element.studentName.toUpperCase()}} </td>
    </ng-container>

    <!-- numAsistencias Column -->
    <ng-container matColumnDef="numAsistencias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asistencias</th>
        <td mat-cell *matCellDef="let element"> {{element.numAsistenciasConfirmadas}} presencias ( {{element.numAsistenciasProgramadas}} | {{element.numAsistenciasAnuladas}} ) </td>
    </ng-container>

    <!-- rateName Column -->
    <ng-container matColumnDef="rateName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarifa</th>
        <td mat-cell *matCellDef="let element"> {{element.rateName?.toUpperCase()}} </td>
    </ng-container>

    <!-- paymentAmmout Column -->
    <ng-container matColumnDef="paymentAmmout">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> A pagar</th>
        <td mat-cell *matCellDef="let element"> {{element.paymentAmmout}}€ </td>
    </ng-container>

    <!-- paymentMethod Column -->
    <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Método de pago</th>
        <td mat-cell *matCellDef="let element"> {{element.paymentMethod}}</td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let studentItem">
            &nbsp;
            <button mat-mini-fab color="warn" (click)="printInfo(studentItem)"><mat-icon>print</mat-icon></button> &nbsp;
            <button mat-mini-fab color="warn" (click)="downloadInfo(studentItem)"><mat-icon>cloud_download</mat-icon></button> &nbsp;
            <button mat-mini-fab color="warn" (click)="openInfo(studentItem)"><mat-icon>open_in_new</mat-icon></button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
    </tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
