<mat-card *ngIf="course" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ course.name }}</mat-card-title>
        <mat-card-subtitle>{{ course.teacher }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Explicación del curso
        </p>
    </mat-card-content>
    <mat-card-actions>

        <button mat-raised-button color="primary" (click)="gotoEdition()">Editar</button>

        <button mat-raised-button color="primary" (click)="gotoLessons()">Ver Clases</button>

        <button mat-raised-button color="primary" (click)="gotoNewLesson()">Crear Clase</button>

    </mat-card-actions>
</mat-card>