<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>recent_actors</mat-icon>
            &nbsp;&nbsp;Todos
        </ng-template>

        <mat-toolbar color="primary">
            <span>Usuarios Actuales</span>
            <span class="fill-remaining-space"></span>

            <mat-form-field class="filter-form-field">
                <input matInput (keyup)="applyFilterAll($event.target.value)" placeholder="Filtrar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
        </mat-toolbar>

        <!-- Table All -->
        <table mat-table [dataSource]="dataSourceAll" matSort>

            <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="viewUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
                </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName.toUpperCase()}} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </th>
                <td mat-cell *matCellDef="let element"> {{element.location?.toUpperCase()}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    &nbsp;
                    <button mat-mini-fab color="warn" (click)="viewUser(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="editUser(element)"><mat-icon>edit</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button> &nbsp;
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayUsers"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayUsers;">
            </tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <!-- Table All -->

    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>people_outline</mat-icon>
            &nbsp;&nbsp;Estudiantes
        </ng-template>

        <!-- ESTUDIANTES -->
        <mat-toolbar color="primary">
            <span>Estudiantes Actuales</span>
            <span class="fill-remaining-space"></span>

            <mat-form-field class="filter-form-field">
                <input matInput (keyup)="applyFilterStudents($event.target.value)" placeholder="Filtrar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
        </mat-toolbar>

        <!-- Table Students -->
        <table mat-table [dataSource]="dataSourceStudents" matSort>

            <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="viewUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
                </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName.toUpperCase()}} </td>
            </ng-container>

            <ng-container matColumnDef="coursesEnrolled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cursos </th>
                <td mat-cell *matCellDef="let element"> {{element.coursesEnrolled}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    &nbsp;
                    <button mat-mini-fab color="warn" (click)="viewUser(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="editUser(element)"><mat-icon>edit</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button> &nbsp;
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayStudents"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayStudents;">
            </tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <!-- Table Students -->

    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>people</mat-icon>
            &nbsp;&nbsp;Profesores
        </ng-template>

        <mat-toolbar color="primary">
            <span>Profesores Actuales</span>
            <span class="fill-remaining-space"></span>

            <mat-form-field class="filter-form-field">
                <input matInput (keyup)="applyFilterTeachers($event.target.value)" placeholder="Filtrar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
        </mat-toolbar>

        <!-- Table Teachers -->
        <table mat-table [dataSource]="dataSourceTeachers" matSort>

            <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="viewUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
                </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName.toUpperCase()}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    &nbsp;
                    <button mat-mini-fab color="warn" (click)="viewUser(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="editUser(element)"><mat-icon>edit</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button> &nbsp;
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
            </tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <!-- Table Teachers -->

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>star</mat-icon>
            &nbsp;&nbsp;Administradores
        </ng-template>

        <mat-toolbar color="primary">
            <span>Administradores Actuales</span>
            <span class="fill-remaining-space"></span>

            <mat-form-field class="filter-form-field">
                <input matInput (keyup)="applyFilterAdmins($event.target.value)" placeholder="Filtrar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="gotoNew()">Crear Nuevo</button>
        </mat-toolbar>

        <!-- Table Admins -->
        <table mat-table [dataSource]="dataSourceAdmins" matSort>

            <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="viewUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
                </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName.toUpperCase()}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    &nbsp;
                    <button mat-mini-fab color="warn" (click)="viewUser(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="editUser(element)"><mat-icon>edit</mat-icon></button> &nbsp;
                    <button mat-mini-fab color="warn" (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button> &nbsp;
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
            </tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <!-- Table Admins -->

    </mat-tab>


</mat-tab-group>