<mat-card *ngIf="course">

    <mat-toolbar color="warn">
        <span>{{pageTitle}} | {{courseTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoCourse()">Volver al Curso</button>
    </mat-toolbar>

    <br/><br/>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="course.image" class="img-thumbnail">
            <br><br>
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <form [formGroup]="lessonForm" class="form-container" (ngSubmit)="onSaveForm()">

                <mat-card-content>

                    <div class="row">

                        <mat-form-field style="display:none" class="col-12">
                            <input matInput type="text" formControlName="courseId" placeholder="Curso asociado">
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Profesor</mat-label>
                            <mat-select formControlName="teacherId" [value]="lessonForm.get('teacherId').value">
                                <mat-option *ngFor="let teacher of TEACHERS" [value]="teacher.uid">
                                    {{teacher.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <input matInput type="text" formControlName="material" placeholder="Material">
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <mat-form-field class="col-5">
                            <input matInput formControlName="date" [matDatepicker]="pickerStart" placeholder="Escoge la fecha de inicio">
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                            <mat-error *ngIf="!!lessonForm.get('date').hasError('required')">Es necesario incluir esta información</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                            <input matInput type="time" formControlName="startTime" placeholder="Escoge la hora de inicio">
                            <mat-error *ngIf="!!lessonForm.get('startTime').hasError('required')">Es necesario incluir esta información</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                            <input matInput type="time" formControlName="endTime" placeholder="Escoge la hora de fin">
                            <mat-error *ngIf="!!lessonForm.get('endTime').hasError('required')">Es necesario incluir esta información</mat-error>
                        </mat-form-field>

                    </div>

                </mat-card-content>

                <mat-card-actions>

                    <button mat-raised-button [title]="lessonForm.valid ? 'Guardar con los datos introducidos' : 'Dishabilitado hasta que los datos sean válidos'" [disabled]="!lessonForm.valid" type="submit" color="warn">Guardar</button>

                    <button mat-raised-button type="button" (click)="onResetForm()" color="warn">Limpiar</button>

                    <button mat-raised-button type="button" (click)="gotoCourse()" color="warn">Volver al curso</button>

                </mat-card-actions>

            </form>
        </div>
    </div>

</mat-card>
