<mat-toolbar color="primary">
    <span>Usuarios</span>
    <span class="fill-remaining-space"></span>

    <mat-form-field class="filter-form-field">
        <input matInput type="text" placeholder="Filtro de Búsqueda" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="gotoNew()">Crear Nuevo</button>
</mat-toolbar>

<div *ngFor="let userDetails of usersDetails | async | filter:searchText">
    <mat-card (click)="gotoUserDetails(userDetails)">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="applyStyles(userDetails)"></div>
            <mat-card-title>{{userDetails.displayName}}</mat-card-title>
            <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
            <mat-chip-list aria-label="Roles">
                <mat-chip *ngIf="userDetails.isUser" color="primary">Registrado</mat-chip>
                <mat-chip *ngIf="userDetails.isAdmin" color="primary">Administrador</mat-chip>
                <mat-chip *ngIf="userDetails.isTeacher" color="primary">Profesor</mat-chip>
                <mat-chip *ngIf="userDetails.isStudent" color="primary">Estudiante</mat-chip>
            </mat-chip-list>
        </mat-card-header>
    </mat-card>
</div>