<h3>Lista de Usuarios</h3>

<ul class="list-unstyled" *ngFor="let userDetails of usersDetails | async">
    <li class="media" (click)="gotoUserDetails(userDetails)">
        <img [src]="userDetails.photoURL" class="mr-3" style="width:32px" [alt]="userDetails.displayName">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{userDetails.displayName}}</h5>
            Rol: {{userDetails.rol}}
        </div>
    </li>
</ul>

<button mat-raised-button color="primary" (click)="gotoNew()">Crear Nuevo</button>