<h3>Lista de Usuarios</h3>

<div *ngFor="let userDetails of usersDetails | async">
    <mat-card (click)="gotoUserDetails(userDetails)">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="applyStyles(userDetails)"></div>
            <mat-card-title>{{userDetails.displayName}}</mat-card-title>
            <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
            <mat-chip-list aria-label="Roles">
                <mat-chip>{{userDetails.rol}}</mat-chip>
                <mat-chip color="primary" selected>{{userDetails.rol}}</mat-chip>
                <mat-chip color="accent" selected>{{userDetails.rol}}</mat-chip>
            </mat-chip-list>
        </mat-card-header>
    </mat-card>
</div>

<button mat-raised-button color="primary" (click)="gotoNew()">Crear Nuevo</button>