/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import './node_modules/bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    height: 100%;
}

body {
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    margin-bottom: 20px;
}

.form-container mat-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container button {
    margin: 5px;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-icon {
    padding: 0 14px;
}

.header-spacer {
    flex: 1 1 auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.is-eliminada {
    padding-left: 20px !important;
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-anulada {
    padding-left: 20px !important;
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-programada {
    padding-left: 20px !important;
    color: #856404 !important;
    background-color: #fff3cd !important;
}

.is-ausentada {
    padding-left: 20px !important;
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-confirmada,
.is-realizada {
    padding-left: 20px !important;
    color: #155724 !important;
    background-color: #d4edda !important;
}