/* You can add global styles to this file, and also import other style files */

@import 'base/variables';
@import 'base/tables';
@import 'base/attendances';
@import './node_modules/bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    height: 100%;
}

body {
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    margin-bottom: 20px;
}

.form-container mat-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container button {
    margin: 5px;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-icon {
    padding: 0 14px;
}

.header-spacer {
    flex: 1 1 auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.is-ausente,
.is-presente,
.is-realizada,
.is-prevista,
.is-programada {
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center !important;
}

.is-eliminada {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-anulada {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.action-is-anulada {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-prevista,
.is-programada {
    color: #856404 !important;
    background-color: #fff3cd !important;
}

.action-is-prevista,
.action-is-programada {
    color: #856404 !important;
    background-color: #fff3cd !important;
}


/* ESTILOS ASOCIADOS A LAS ASISTENCIAS - INI */

.img-box {
    float: left;
    margin: 2px;
}


/* ESTILOS ASOCIADOS A LAS ASISTENCIAS - FIN */


/* ESTILOS DE ITEMS ENABLED/DISABLED - INI */

.item-enabled {}

.item-disabled {
    filter: grayscale(100%);
    color: white;
    background-color: lightgrey;
}


/* ESTILOS DE ITEMS ENABLED/DISABLED - FIN */

.is-ausente {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.is-presente,
.is-realizada {
    text-align: center !important;
    color: #155724 !important;
    background-color: #d4edda !important;
}

.action-is-realizada {
    color: #155724 !important;
    background-color: #d4edda !important;
}

.container-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.action-is-disabled {
    color: whitesmoke !important;
    background-color: white !important;
}
