<mat-card>

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">
        <app-sh-user-data class="col-6" *ngIf="userDetails" [userDetails]="userDetails" [user]="user"></app-sh-user-data>

        <app-sh-calendar-interval class="col-6" [dateIni]="dateIni" [dateEnd]="dateEnd" (updateInterval)="onUpdateInterval($event)"></app-sh-calendar-interval>
    </div>

    <app-sh-lessons [userDetails]="userDetails" [dateIni]="dateIni" [dateEnd]="dateEnd"></app-sh-lessons>

</mat-card>
