<mat-card>

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <app-sh-user-data *ngIf="userDetails" [userDetails]="userDetails"></app-sh-user-data>

    <app-sh-calendar-interval [dateIni]="dateIni" [dateEnd]="dateEnd" (updateInterval)="onUpdateInterval($event)"></app-sh-calendar-interval>

    <app-sh-lessons [userDetails]="userDetails" [dateIni]="dateIni" [dateEnd]="dateEnd"></app-sh-lessons>

</mat-card>
