<mat-card>

    <mat-toolbar color="primary">
        <span>{{pageTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="accent" (click)="gotoDashboard()">Ir al Panel</button>
    </mat-toolbar>

    <div class="row">

        <app-sh-user-data class="col-6" *ngIf="userDetails" [user]="user" [userDetails]="userDetails"></app-sh-user-data>

        <app-sh-calendar-interval-month class="col-6" [date]="date" (updateMonth)="onUpdateMonth($event)"></app-sh-calendar-interval-month>

    </div>

    <app-sh-attendances [userDetails]="userDetails" [date]="date"></app-sh-attendances>

</mat-card>