.mat-column-studentName {
    padding-left: 20px;
}

.color-primary {
    color: #673ab7
}

.color-disabled {
    color: rgb(215, 215, 215);
}

.mat-column-select {
    overflow: initial;
}

.spinner-container {
    padding: 50px;
    text-align: center;
}
