<table mat-table [dataSource]="dataSource" matSort>

    <!-- status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
          'is-eliminada': element.status === 'eliminada',
          'is-anulada': element.status === 'anulada',
          'is-programada': element.status === 'programada',
          'is-ausentada': element.status === 'ausentada',
          'is-confirmada': element.status === 'confirmada'
        }"> {{element.status}} </td>
    </ng-container>

    <!-- courseImage Column -->
    <ng-container matColumnDef="courseImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.courseImage" class="img-thumbnail" alt="element.courseName">
        </td>
    </ng-container>

    <!-- courseName Column -->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.courseName?.toUpperCase()}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'fullDate' }} </td>
    </ng-container>

    <!-- startTime Column -->
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio</th>
        <td mat-cell *matCellDef="let element"> {{element.startTime }} </td>
    </ng-container>

    <!-- endTime Column -->
    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin</th>
        <td mat-cell *matCellDef="let element"> {{element.endTime }} </td>
    </ng-container>

    <!-- Attendances Column -->
    <ng-container matColumnDef="attendancesNames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estudiantes</th>
        <td mat-cell *matCellDef="let element">
            <br/>
            <ul>
                <li *ngFor="let studentName of element.attendancesNames">
                    {{ studentName }}
                </li>
            </ul>
        </td>
    </ng-container>

    <!-- classRoom Column -->
    <ng-container matColumnDef="classRoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aula</th>
        <td mat-cell *matCellDef="let element"> {{element.classRoom }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
        <td mat-cell *matCellDef="let element">
            &nbsp;
            <button mat-mini-fab color="warn" (click)="viewLesson(element)"><mat-icon>pageview</mat-icon></button> &nbsp;
            <button mat-mini-fab color="warn" (click)="editLesson(element)"><mat-icon>edit</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
    </tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
