<mat-card *ngIf="course">
    <div class="row">
        <div class="col-6">
            <h6>Profesor del Curso</h6>
            <p>
                {{ teacher?.displayName }}
            </p>
            <h6>Horario habitual</h6>
            <p>{{ course.weekDay }}, de {{ course.startTime }} a {{ course.endTime }}.</p>
        </div>
        <div class="col-6">
            <h6>Aula:</h6>
            <p>{{ course.classRoom }}.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-6 col-md-6" *ngIf="weekLessons.length > 0">
            <hr />
            <b>Esta Semana:</b>
            <div class="last-lesson" *ngFor='let lesson of weekLessons'>
                <button mat-mini-fab color="warn" (click)="viewLesson(lesson)"><mat-icon>pageview</mat-icon></button> &nbsp;
                <span>{{lesson.date | date:'fullDate' }}</span>
            </div>
        </div>

        <div class="col-6 col-md-6" *ngIf="nextLessons.length > 0">
            <hr />
            <b>Próxima Semana:</b>
            <div class="next-lesson" *ngFor='let lesson of nextLessons'>
                <button mat-mini-fab color="warn" (click)="viewLesson(lesson)"><mat-icon>pageview</mat-icon></button> &nbsp;
                <span>{{lesson.date | date:'fullDate' }}</span>
            </div>
        </div>

    </div>
</mat-card>
